<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>428108339104-3s2ag2lfamh6lv7psesr4cmfokabnctf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428108339104-3s2ag2lfamh6lv7psesr4cmfokabnctf</string>
	<key>API_KEY</key>
	<string>AIzaSyBz43OIUAmAW2UrvV4Dw_ufoQ9nx4tE81c</string>
	<key>GCM_SENDER_ID</key>
	<string>428108339104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bikash.PreExam</string>
	<key>PROJECT_ID</key>
	<string>preexam-9e10a</string>
	<key>STORAGE_BUCKET</key>
	<string>preexam-9e10a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428108339104:ios:3cfbf0b8a0723390</string>
	<key>DATABASE_URL</key>
	<string>https://preexam-9e10a.firebaseio.com</string>
</dict>
</plist>